<form>
  <div class="form-group">
    <label for="newPasswordInput">New Password</label>
    <input [(ngModel)]="newPassword" type="password" class="form-control" id="newPasswordInput" placeholder="New Password" name="newPassword">
  </div>
  <div class="form-group">
    <label for="confirmNewPasswordInput">Confirm New Password</label>
    <input [(ngModel)]="confirmNewPassword" type="password" class="form-control" id="confirmNewPasswordInput" placeholder="Confirm New Password" name="confirmNewPassword">
  </div>
  <button (click)="changePassword()" class="btn btn-primary">
    Change Password
    <span *ngIf="processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </button>
</form>>