<div>
    <h1>Create User</h1>
    <label>
      Username:
      <input [(ngModel)]="username" type="text" placeholder="Username"/>
    </label>
    <label>
      Password:
      <input [(ngModel)]="password" type="password" placeholder="Password"/>
    </label>
    <label>
      Confirm Password:
      <input [(ngModel)]="confirmPassword" type="password" placeholder="Confirm Password"/>
    </label>
    <label>
      Email(Optional):
      <input [(ngModel)]="email" type="email" placeholder="Email"/>
    </label>
    <label>
      Phone Number(Optional):
      <input [(ngModel)]="phoneNumber" type="text" placeholder="Phone Number"/>
    </label>
    <button (click)="create()">Create</button>
  </div>