<h3>Manage Anomaly Subscriptions</h3>

<br>

<div *ngIf="systems && systems.length > 0; else noSystems" style="width: 700px">
  <ul class="list-group">
    <li *ngFor="let sys of systems"
     [class.active]="sys === selectedSys"
      class="list-group-item">
      {{sys.systemName}}
      <button *ngIf="isSubscribed(sys.systemID)" class="btn btn-dark" (click)="removeSub(sys.systemID, sys.systemName)" style="width: 130px; float: right">Unsubscribe</button>
      <button *ngIf="!isSubscribed(sys.systemID)" class="btn btn-info" (click)="addSubscription(sys.systemID, sys.systemName)" style="width: 130px; float: right">Subscribe</button>
    </li>
   </ul>
</div>
<ng-template #noSystems>
    <p>
      There are no systems to subscribe to.
    </p>
</ng-template>
