<h2>Telecommands</h2>
<ul>
  <li *ngFor="let telecommand of telecommands"
  (click)="onSelect(telecommand)"
  [class.selected]="telecommand === selectedTelecommand">
    <span class="badge">{{telecommand.telecommandID}} {{telecommand.componentID}}</span> {{telecommand.name}} {{telecommand.command}} {{telecommand.defaultPriorityLevel}} {{telecommand.bandwidthUsage}} {{telecommand.powerConsumption}}
  </li>
</ul>
<app-telecommand-details [telecommand] = "selectedTelecommand"></app-telecommand-details>