<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Western CubeSat</a>
  <button class="navbar-toggler btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navbarNav" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let header of headers"
      (click)="onSelect(header)"
      [class.active]="header == activeHeader"
      class="nav-item">
        <a class="nav-link" routerLink={{header.route}}>{{header.friendlyValue}}</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li *ngIf="!auth.isAuthenticated(); else alreadyAuthenticated" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <ng-template #alreadyAuthenticated>
        <li class="nav-item dropdown" ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle role="button" aria-haspopup="true" aria-expanded="false">{{auth.getCurrentUser()?.email}}</a>
          <div ngbDropdownMenu class="dropdown-menu">
            <a class="dropdown-item" href="/users/edit?id={{auth.getCurrentUser()?.id}}">Edit Profile</a>
            <div class="dropdown-divider"></div>
            <a *ngIf="auth.isAdministrator()" class="dropdown-item" href="/users">Manage Users</a>
            <div class="dropdown-divider"></div>
            <a *ngIf="auth.isAdministrator()" class="dropdown-item" href="/system-inputs">Manage System Inputs</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/anomaly-subscription?id={{auth.getCurrentUser()?.id}}">Manage Anomaly Subscriptions</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
