<h1>Users</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Administrator</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="userList; else tableSpinner">
      <tr *ngFor="let user of userList.users">
        <td>{{user.email}}</td>
        <td>
          <div class="form-check">
            <input [ngModel]="user.administrator" type="checkbox" class="form-check-input" disabled>
          </div>
        </td>
        <td>Actions go here</td>
      </tr>
    </ng-container>
    <ng-template #tableSpinner>
      <tr>
        <td colspan="3">
          <div class="text-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>