<h2>CubeSat System Inputs</h2>
<div class = "row">
  <div class = "col-md-3">
    <div class = "container">
      <ul class="list-group">
          <li *ngFor="let system of systems"
          (click)="onSelectSys(system)"
          [class.active]="system === selectedSystem"
          class="list-group-item">
            <span class="badge badge-light"> ID: {{system.systemID}}</span>
            {{system.systemName}}
          </li>
        </ul>
        <button type="button" class="btn btn-outline-dark" (click)="addSystem('')">Add sys</button>
    </div>
  </div>
  <div class = "col-md-3">
    <div class = "container">
      <div *ngIf = "selectedSystem; else noSystem">
          <ul class="list-group">
              <li *ngFor="let component of components"
              (click)="onSelectComp(component)"
              [class.active]="component === selectedComponent"
              class="list-group-item">
                <span class="badge badge-light"> ID: {{component.componentID}}</span>
                {{component.name}}
              </li>
            </ul>
      </div>
      <ng-template #noSystem>
        <p>
          Please select a system to view, modify and delete components.
        </p>
      </ng-template>
    </div>
  </div>
  <div class = "col-md-6">
    <div class = "container">
      <div *ngIf = "selectedComponent; else noComponent">
          <ul class="list-group">
              <li *ngFor="let compTelem of compTelemetries"
              (click)="onSelectCompTelem(compTelem)"
              [class.active]="compTelem === selectedCompTelem"
              class="list-group-item">
                <span class="badge badge-light"> ID: {{compTelem.componentTelemetryID}}</span>
                {{compTelem.name}}
              </li>
            </ul>
      </div>
      <ng-template #noComponent>
        <p>
          Please select a component to view, modify and delete component telemetries.
        </p>
      </ng-template>
    </div>
  </div>
</div>