<div *ngIf="queuedTelecommand && telecommandDetails">
  <div style="cursor: pointer;" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="queuedTelecommandDetailsPane">  
    <span class = "align-middle">
        <span class = "badge badge-light">{{queuedTelecommand.telecommandID}}</span>
        {{telecommandDetails.name}}
        <ng-container *ngIf = "queuedTelecommand.priority">
            <span class = "badge badge-danger">!</span>
        </ng-container>
        <button (click)="deleteQueuedTelecommand()" type="button" class="btn btn-danger d-flex float-right"><i class = "fa fa-trash"></i></button>
    </span>
  </div>
  <div id="queuedTelecommandDetailsPane" [ngbCollapse]="isCollapsed">
    <form>
      <hr/>
      <div class="form-check">
        <input [ngModel] = "queuedTelecommand.priority" type="checkbox" class="form-check-input" name="queuedTelecommandPriority" disabled readonly>
        <label>High Priority Command</label>
      </div>
      <div class="form-row">
        <div class = "col">
            <label>Transmission Pass</label>
        </div>
        <div class = "col">
            <input [ngModel] = "queuedTelecommand.transmissionPassID"  class="form-control" name= "queuedTelecommandTransmissionPassID" readonly>
        </div>
       <div class = "col">
          <label>Execution Pass</label>
       </div>
        <div class = "col">
            <input [ngModel] = "queuedTelecommand.transmissionPassID"  class="form-control" name= "queuedTelecommandExecutionPassID" readonly>
        </div>
      </div>
      <div class = "form-group">
        <label>Execution Datetime</label>
        <input [ngModel] = "queuedTelecommand.executionTimeUTC"  class="form-control" name= "queuedTelecommandExecutionTimeUTC" readonly>
      </div>
      <div *ngIf="user" class = "form-group">
        <label>Responsible User</label>
        <input [ngModel] = "user.email"  class="form-control" name= "queuedTelecommandUser" readonly>
      </div>
    </form>
  </div>
</div>