<h2>Telecommand Batches</h2>
<div class="row">
  <div class="col">
    <button type="button"
    class="btn btn-success"
    (click)="addNewTelecommandBatch()">Create New Batch</button>
    <ul class="list-group">
      <li *ngFor="let batch of telecommandBatches"
      (click)="onSelect(batch)"
      [class.active]="batch === selectedBatch"
      class="list-group-item">
        {{batch.name}}
      </li>
    </ul>
  </div>
  <div class="col">
    <div *ngIf="selectedBatch">
        <form  class="form-inline">
          <div class="form-group">
            <label style="padding-right: 10px;"><b>Batch Name: </b></label>
            <input [(ngModel)] = "selectedBatch.name" class="form-control" name = "selectedBatchName">
            <button type="button"
            class="btn btn-success"
            (click)="saveBatchName()">Save Name</button>
          </div>
        </form>
        <br/>
        <ul class="list-group">
            <app-preset-telecommand-details
            class="list-group-item border border-primary"
            *ngFor="let presetCommand of selectedPresetTelecommands"
            [presetTelecommand]="presetCommand"
            (relaodPresetTelecommands)="relaodPresetTelecommands($event)">
          </app-preset-telecommand-details>
        </ul>
        <form class="form-inline" style="padding-top:10px;padding-bottom: 10px;">
          <label style="padding-right: 10px;"><b>New Telecommand: </b></label>
          <app-telecommand-dropdown
          [telecommands] = "telecommands"
          [selectedTelecommand] = "selectedTelecommand"
          (newSelectedTelecommand) = "updateSelectedTelecommand($event)">
          </app-telecommand-dropdown>
          <button type="button"
          class="btn btn-success"
          (click)="addNewPresetTelecommand()">Add Telecommand To Batch</button>
        </form>
        <button type="button"
        class="btn btn-danger"
        (click)="deleteBatch()">Delete Batch</button>
    </div>
  </div>
</div>