<h2>Modify Telemetry Limits</h2>

<ngb-accordion #acc="ngbAccordion">

  <ngb-panel title="System">
    <ng-template ngbPanelContent>
        <ngb-accordion #acc="ngbAccordion">
            <ngb-panel title="Component">
                <ng-template ngbPanelContent>
                    <ngb-accordion #acc="ngbAccordion">
                        <ngb-panel title="Telemetry">
                            <ng-template ngbPanelContent>
                              here's some limits???? edit them????
                            </ng-template>
                        </ngb-panel>
                      </ngb-accordion>
                </ng-template>
            </ngb-panel>
          </ngb-accordion>
    </ng-template>
      

  </ngb-panel>
</ngb-accordion>
