<h2>Welcome the to Western's Center for Planetary Science and Exploration(CPSX) CubeSat mission operation web portal!</h2>
<h3>What is the CubeSat?</h3>
<p>CPSX received a grant from the Canadian Space Agency (CSA) to fund the development of a CubeSat device. The CubeSat is a miniature satellite set to be launched in 2021. The device will be designed and built by various teams composed of Western University students and faculty members. Once the device has been launched, mission control will be able to operate the device from this mission control application.</p>
<img src="assets/cubesat-banniere.jpg" alt="cubesatDevice">
<br />
<br />
<img src="assets/cubesat-interactions.png" alt="CubeSatInteractions">
<br />
<br />
<img style="height: 580px; width: 1024px;" src="assets/system-components.png" alt="System">