<div class = "row">
  <div class = "col">
    <button class = "btn btn-primary" (click) = "toggleActiveQueue()">{{executionQueue ? "Time Tagged" : "Transmission"}}</button>
    <button class = "btn btn-info" (click) = "promptAddQueuedTelecommand()">Add Telecommand to Queue</button>
    <button class = "btn btn-warning" (click) = "promptAddQueuedTelecommandBatch()">Add Telecommand Batch to Queue</button>
    <button class="btn btn-success" (click)="addPass()">Add New Pass</button>
    <ul class="list-group">
        <li *ngFor="let pass of passes"
        (click)="onSelect(pass)"
        [class.active]="pass === selectedPass"
        class="list-group-item">
          Pass {{pass.passID}}
          <span class="badge badge-light">Est. Pass Time: {{pass.estimatedPassDateTime}}</span>
        </li>
      </ul> 
  </div>
  <div class = "col">
    <div *ngIf = "!executionQueue; else execQ">
      <app-transmission-queue [events] = "reloadPass.asObservable()" [telecommands] = "telecommands"></app-transmission-queue>
    </div>
    <ng-template #execQ>
      <app-execution-queue [events] = "reloadPass.asObservable()" [telecommands] = "telecommands"></app-execution-queue>
    </ng-template>
  </div>
</div>
